@keyframes spinner-spin-tick {
    0% {
        opacity: 1;
        background-color: $accent-color-light;
    }
    90% {
        background-color: $background-light;
    }
    100% {
        opacity: 0.15;
    }
}

@keyframes spinner-spin-circle {
    0% {
        transform: rotate(0deg);
        border-color: $accent-color-dark-alternative;
    }
    50% {
        // border-color: $background-light;
    }
    100% {
        transform: rotate(-360deg);
        border-color: $accent-color-dark-alternative;
        // border-color: $orange-brown;
    }
}