.app-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($color: $background-light, $alpha: 0.75); // display: flex; // text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .app-overlay-text {
        font-size: 2em;
        margin-top: -50px;
        font-weight: bolder;
        opacity: initial;
    }
}