* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", "Consolas";
  background-color: #272727;
  user-select: none;
  cursor: default;
  color: #ffffff; }

h1 {
  font-family: "Alegreya", "Consolas";
  color: #b2d1ff;
  margin-top: 0; }

.button-square-small {
  height: 25px;
  width: 25px; }

.button-box > * {
  height: 28px;
  width: 28px;
  margin-left: 5px; }

.button-box input {
  height: 28px;
  width: 28px;
  text-align: center;
  align-content: center; }

.background-dark {
  background-color: #272727; }

.background-light {
  background-color: #303030; }

.background-light-opacity-75 {
  background-color: rgba(48, 48, 48, 0.75); }

.display-as-grid {
  display: grid; }

.grid-col-gap-5 {
  grid-column-gap: 5px; }

.grid-row-gap-5 {
  grid-row-gap: 5px; }

.grid-col-gap-10 {
  grid-column-gap: 10px; }

.grid-row-gap-10 {
  grid-row-gap: 10px; }

.fa-button {
  font-size: 1em; }
  .fa-button i {
    display: initial;
    margin-left: 0;
    padding-left: 0; }

.border-accent-dark-thick {
  border: 2px solid #3c64a0; }

.font-alegreya {
  font-family: 'Alegreya'; }

.font-roboto {
  font-family: 'Roboto'; }

.font-bold {
  font-weight: 500; }

.font-gray {
  color: #cccccc; }

.font-green {
  color: #319e41; }

.font-red {
  color: #c5372a; }

.font-accent {
  color: #b2d1ff; }

.label-small {
  font-size: 0.65em; }

.label-smaller {
  font-size: 0.9em; }

.label-bigger {
  font-size: 1.1em; }

.label-big {
  font-size: 1.2em; }

.label-alegreya-big {
  font-size: 1.6em; }

.text-align-right {
  text-align: end; }

.justify-self-end {
  justify-self: flex-end; }

.overflow-in-y {
  overflow-y: auto; }

.paper-bar {
  height: 55px;
  align-content: center;
  align-items: center;
  display: flex;
  padding: 0px;
  padding-left: 8px;
  padding-right: 8px; }

.border-on-hover {
  border-width: 1px;
  border-style: solid;
  border-color: transparent; }
  .border-on-hover:hover {
    border-color: #b2d1ff; }

.input-drop-down {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 35px; }
  .input-drop-down input {
    height: 100%;
    grid-area: 1 / 1; }
    .input-drop-down input:focus {
      border-right: none; }
  .input-drop-down button {
    height: 100%;
    grid-area: 1 / 2; }
    .input-drop-down button:focus {
      border-left: none; }
  .input-drop-down .drop-down-box {
    font-family: "Roboto", "Consolas";
    background-color: #303030;
    border: 1px solid #3c64a0;
    position: absolute;
    overflow: auto;
    z-index: 5; }
    .input-drop-down .drop-down-box .drop-down-item {
      padding: 0 10px;
      display: flex;
      align-items: center;
      border-bottom: #164791 solid 0px; }
      .input-drop-down .drop-down-box .drop-down-item .filter-highlight {
        color: #b2d1ff;
        font-size: 1em;
        font-weight: 500; }
      .input-drop-down .drop-down-box .drop-down-item:hover {
        background-color: #b2d1ff;
        padding-left: 15px;
        border: 1px solid #303030; }
        .input-drop-down .drop-down-box .drop-down-item:hover .filter-highlight {
          color: #ffffff; }
        .input-drop-down .drop-down-box .drop-down-item:hover * {
          transform: scale(1.1); }

/**
 * CSS for the DatePicker by Chris Harrington.
 * GitHub: https://github.com/chrisharrington/a-react-datepicker
 */
div.ardp-date-picker {
  font-size: 16px;
  font-family: Arial;
  box-sizing: border-box; }

div.ardp-date-picker * {
  box-sizing: border-box; }

div.ardp-date-picker div.calendar {
  position: absolute;
  z-index: 10;
  background: white;
  width: 260px;
  padding: 5px;
  color: #244152;
  border-radius: 3px;
  height: 203px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden; }

div.ardp-date-picker div.calendar.calendar-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear; }

div.ardp-date-picker div.calendar.calendar-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 100ms, opacity 100ms linear; }

div.ardp-date-picker div.calendar div.month-header {
  float: left;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center; }

div.ardp-date-picker div.calendar div.month-header > i {
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-style: normal;
  font-size: 0.7em; }

div.ardp-date-picker div.calendar div.month-header > i:hover {
  background-color: #026aa7;
  color: white; }

div.ardp-date-picker div.calendar div.week-header {
  float: left;
  width: 100%;
  margin-top: 8px;
  display: table;
  padding-bottom: 3px;
  border-bottom: solid 1px #CCC;
  margin-bottom: 3px; }

div.ardp-date-picker div.calendar div.week-header > span {
  float: left;
  width: 14.285714285714286%;
  font-size: 0.6em;
  text-transform: uppercase;
  color: #026aa7;
  font-weight: bold;
  text-align: center; }

div.ardp-date-picker div.calendar div.weeks {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 140px; }

div.ardp-date-picker div.calendar div.weeks > div {
  position: absolute;
  width: 250px; }

div.ardp-date-picker div.calendar div.weeks > div.current {
  left: 0; }

div.ardp-date-picker div.calendar div.weeks > div.other {
  left: 250px; }

div.ardp-date-picker div.calendar div.weeks > div.other.right {
  left: -250px; }

div.ardp-date-picker div.calendar div.weeks > div.sliding {
  transition: transform 250ms ease;
  -webkit-transition: -webkit-transform 250ms ease; }

div.ardp-date-picker div.calendar div.weeks > div.sliding.left {
  transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0); }

div.ardp-date-picker div.calendar div.weeks > div.sliding.right {
  transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0); }

div.ardp-date-picker div.calendar div.weeks div.week {
  float: left;
  width: 100%; }

div.ardp-date-picker div.calendar div.weeks div.week div.day {
  float: left;
  width: 14.285714285714286%;
  font-size: 0.8em;
  padding: 4px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 3px; }

div.ardp-date-picker div.calendar div.weeks div.week div.day:hover {
  background: #EAEAEA; }

div.ardp-date-picker div.calendar div.weeks div.week div.day.other-month {
  color: #AAA; }

div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled {
  color: #E0E0E0;
  cursor: default; }

div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled:hover {
  background: transparent !important; }

div.ardp-date-picker div.calendar div.weeks div.week div.day.today {
  background: #68b53e;
  color: white; }

div.ardp-date-picker div.calendar div.weeks div.week div.day.selected {
  background: #026aa7;
  color: white; }

.app-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(48, 48, 48, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .app-overlay .app-overlay-text {
    font-size: 2em;
    margin-top: -50px;
    font-weight: bolder;
    opacity: initial; }

@keyframes spinner-spin-tick {
  0% {
    opacity: 1;
    background-color: #b2d1ff; }
  90% {
    background-color: #303030; }
  100% {
    opacity: 0.15; } }

@keyframes spinner-spin-circle {
  0% {
    transform: rotate(0deg);
    border-color: #164791; }
  50% { }
  100% {
    transform: rotate(-360deg);
    border-color: #164791; } }
